<div class="card box-shadows" [ngClass]="{ 'half-card': !isFull, '': isFull }">
  <!-- (dblclick)="openModal()" -->
  <div class="card-row header-bg-clr" (dblclick)="openModal()">
    <div class="col-lg-6 col-md-8 col-sm-8 col-6">
      <div class="card-header fc-white" tooltip placement="bottom">
        {{ allHeadings.insights }}
      </div>
    </div>
    <div class="col-lg-6 col-md-4 col-sm-4 col-6 text-right">
      <app-widget-menu [modalName]="modalName"></app-widget-menu>
    </div>
  </div>
  <div
    class="card-body p-0"
    [ngClass]="{
      'widger-scoller': isFull,
      'widger-scoller-half-data': !isFull
    }"
    style="overflow-y: auto !important"
  >
    <!-- display data   -->
    <div>
      <div *ngFor="let data of updatedData" class="bottom-edge-shadow p-3">
        <p class="head-style fc-14 ff-psb fc-green">{{ data.customer_name }}</p>
        <p class="eventDate p-0">
          <span class="eventTime mb-0 fs-11 fc-grey ff-pr">
            <p class="date-time fs-11 fc-grey ff-psb">Date:</p>
            {{ data.date.split(" ")[0] }} |
          </span>
          <span class="eventTime mb-0 fs-11 fc-grey ff-pr">
            <p class="date-time fs-11 fc-grey ff-psb">Time:</p>
            {{ data.date.split(" ")[1] }}{{ data.date.split(" ")[2] }}
          </span>
        </p>      
        <p class="fc-12 ff-psb">{{ data.title }}</p>
        <p class="para-style ff-psb">{{ data.description }}</p>
      </div>
    </div>
  </div>
</div>

<jw-modal id="{{ modalName }}" class="">
  <div class="card-navbar header-bg-clr" (dblclick)="openModal()">
    <h5 class="col-sm-4 col-md-4 card-title-accounts pt-3">
      <span class="fs-14 fc-white ff-psb">Insights</span>
    </h5>
    <form class="form-inline mr-auto w-1000 justify-content-end br-4">
      <div class="input-group">
        <input
          type="text"
          class="form-control search-main input-bg border-0 small br-4 ff-pr fs-12 fw-400"
          [placeholder]="allHeadings.placeholderInsideModal"
          name="searchTerm"
          [(ngModel)]="service.searchTerm"
        />
      </div>
    </form>

    <div class="navbar-menu-wrapper m-0 p-0 link-point text-right">
      <div class="m-0 p-0 dropdown d-flex text-right">
        <a
          class="nav-link count-indicator m-0 ml-3 mr-3 p-0 pt-0-45"
          (click)="closeModal()"
          ><img class="img-close-widget" src="assets/images/icons/close@2x.png"
        /></a>
      </div>
    </div>
  </div>
  <div>
    <div style="overflow-y: scroll; height: 85vh">
      <div *ngFor="let data of updatedData" class="bottom-edge-shadow p-3">
        <p class="head-style fc-14 ff-psb fc-green">{{ data.customer_name }}</p>
      <p class="eventDate">
          <span class="eventTime mb-0 fs-11 fc-grey ff-pr">
            <p class="date-time fs-11 fc-grey ff-psb">Date:</p>
            {{ data.date.split(" ")[0] }} |
          </span>
          <span class="eventTime mb-0 fs-11 fc-grey ff-pr">
            <p class="date-time fs-11 fc-grey ff-psb">Time:</p>
            {{ data.date.split(" ")[1] }}{{ data.date.split(" ")[2] }}
          </span>
        </p>
        <p class="fc-12 ff-psb">{{ data.title }}</p>
        <p class="para-style ff-psb">{{ data.description }}</p>
      </div>
    </div>
  </div>
</jw-modal>
