
<div class="d-flex justify-content-center mt-3">
  <img class="imgstyle" src="assets/images/contacts/{{img}}"/>
</div>
<div class="card-body">
  <p class="text-center fs-12">{{d1}}</p>
  <div class="text-center">
    <span class="fs-20">{{ytd}}</span>
    <span class="ml-2 fc-gree">+32.3%</span>
  </div>
</div>
<div class="d-flex justify-content-center " style="border-top: 1px solid #D3D3D3;">
  <div class="" >
    <button class="btn text-secondary fs-psb sideBorder" >profile</button>
  </div>
  
  <div >
    <button class="btn text-secondary fs-psb" >message</button>
  </div>
</div>

