<div class="main-body">
  <app-side-navigation class="side-navbar-width"
    (openDirectWidget)="getSelectedDashboard($event)"></app-side-navigation>
  <div class="main_content-right">
    <app-top-navigation></app-top-navigation>
    <div class="content-outlet">
      <div class="pb-1 mt-3">
        <span class="text-small fs-11 ff-pm">Sales Team Performance</span>
      </div>
      <hr>
      <!-- <div
        class="row card-container router-h"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="onDrop($event)"
      >
        <div
          *ngFor="let widget of widgetPositions"
          [ngClass]="{
            'col-md-4 col-lg-4 col-sm-12': widget.size === 1,
            'col-md-8 col-lg-8 col-sm-16': widget.size === 2,
            'col-md-12 col-lg-12 col-sm-20': widget.size === 3
          }"
          cdkDragBoundary=".row"
          cdkDrag
        >
          <span *ngIf="widget.name === 'newsalerts'">
            <app-news-alerts
              [isFull]="widget.isFull"
              [widget2]="widget.name"
            ></app-news-alerts>
            <span *ngIf="!widget.isFull">
              <div class="margin-bottom-class"></div>
              <span *ngIf="widget.widget2 === 'insights'">
                <app-insights
                  [isFull]="widget.isFull"
                  [widget2]="widget.name"
                ></app-insights>
              </span>
              <span *ngIf="widget.widget2 === 'customerMenu'">
                <app-my-customers
                  [isFull]="widget.isFull"
                  [widget2]="widget.name"
                ></app-my-customers>
              </span>
              <span *ngIf="widget.widget2 === 'customerEvents'">
                <app-customer-events
                  [isFull]="widget.isFull"
                  [widget2]="widget.name"
                ></app-customer-events>
              </span>
              <span *ngIf="widget.widget2 === 'funding'">
                <app-fundings
                  [isFull]="widget.isFull"
                  [widget2]="widget.name"
                ></app-fundings>
              </span>
            </span>
          </span>
          <span *ngIf="widget.name === 'customerMenu'">
            <app-my-customers
              [isFull]="widget.isFull"
              [widget2]="widget.name"
            ></app-my-customers>
            <span *ngIf="!widget.isFull">
              <div class="margin-bottom-class"></div>
              <span *ngIf="widget.widget2 === 'newsalerts'">
                <app-news-alerts
                  [isFull]="widget.isFull"
                  [widget2]="widget.name"
                ></app-news-alerts>
              </span>
              <span *ngIf="widget.widget2 === 'customerEvents'">
                <app-customer-events
                  [isFull]="widget.isFull"
                  [widget2]="widget.name"
                ></app-customer-events>
              </span>
              <span *ngIf="widget.widget2 === 'funding'">
                <app-fundings
                  [isFull]="widget.isFull"
                  [widget2]="widget.name"
                ></app-fundings>
              </span>
            </span>
          </span>
          <span *ngIf="widget.name === 'customerEvents'">
            <app-customer-events
              [isFull]="widget.isFull"
              [widget2]="widget.name"
            ></app-customer-events>
            <span *ngIf="!widget.isFull">
              <div class="margin-bottom-class"></div>
              <span *ngIf="widget.widget2 === 'insights'">
                <app-insights
                  [isFull]="widget.isFull"
                  [widget2]="widget.name"
                ></app-insights>
              </span>
              <div class="margin-bottom-class"></div>
              <span *ngIf="widget.widget2 === 'newsalerts'">
                <app-news-alerts
                  [isFull]="widget.isFull"
                  [widget2]="widget.name"
                ></app-news-alerts>
              </span>
              <span *ngIf="widget.widget2 === 'customerMenu'">
                <app-my-customers
                  [isFull]="widget.isFull"
                  [widget2]="widget.name"
                ></app-my-customers>
              </span>
              <span *ngIf="widget.widget2 === 'funding'">
                <app-fundings
                  [isFull]="widget.isFull"
                  [widget2]="widget.name"
                ></app-fundings>
              </span>
            </span>
          </span>
          <span *ngIf="widget.name === 'funding'">
            <app-fundings
              [isFull]="widget.isFull"
              [widget2]="widget.name"
            ></app-fundings>
            <span *ngIf="!widget.isFull">
              <div class="margin-bottom-class"></div>
              <span *ngIf="widget.widget2 === 'newsalerts'">
                <app-news-alerts
                  [isFull]="widget.isFull"
                  [widget2]="widget.name"
                ></app-news-alerts>
              </span>
              <span *ngIf="widget.widget2 === 'customerMenu'">
                <app-my-customers
                  [isFull]="widget.isFull"
                  [widget2]="widget.name"
                ></app-my-customers>
              </span>
              <span *ngIf="widget.widget2 === 'customerEvents'">
                <app-customer-events
                  [isFull]="widget.isFull"
                  [widget2]="widget.name"
                ></app-customer-events>
              </span>
            </span>
          </span>
        </div>
      </div> -->
      <!-- <div style="float: left;">
      <div style="width: 70%; background-color: pink; float: left;"></div>
      <div style="width: 30%; float: left;"></div>
    </div> -->


      <div class="row">
        <div class="col-9">
          <!-- <div class="d-flex">
          <div> <p>LEADERBOARendD YTD</p></div> 
          <div class="">
            <button class="btn">YTD</button>
            <button class="btn">QTD</button>
            <button class="btn">MTD</button>
          </div>
        </div> -->
          <div class="d-flex">
            <div class="mr-auto">
              <p class="mt-1">LEADERBOARD YTD</p>
            </div>
            <div class="">
              <button [ngStyle]="{'background-color': isactive? '#76B900 ' : '#c2c7b8'}" (click)="ytddisplay('btn1')" class=" ButtonStyle fs-psb fs-14 mr-2">YTD</button>
              <button [ngStyle]="{'background-color': isactive1? '#76B900 ' : '#c2c7b8'}" (click)="ytddisplay('btn2')"   class="ButtonStyle fs-psb fs-14 mr-2">QTD</button>
              <button [ngStyle]="{'background-color': isactive2? '#76B900 ' : '#c2c7b8'}"  (click)="ytddisplay('btn3')" class="ButtonStyle fs-psb fs-14 mr-4">MTD</button>
            </div>
          </div>
          <div class="d-flex justify-content-start">
            <div class="card mr-2" style="width: 13rem; height: 13rem; " *ngFor="let item of (showAllFlag ? viewCustomersList : viewCustomersList.slice(0,5))" >
              <app-profile-card *ngIf="isactive" [d1]="item.contact_name" [ytd]="item.customerC12" [img]="item.contact_image"></app-profile-card>
              <app-profile-card *ngIf="isactive1" [d1]="item.contact_name" [ytd]="item.customerC12" [img]="item.contact_image"></app-profile-card>
              <app-profile-card *ngIf="isactive2" [d1]="item.contact_name" [ytd]="item.actuals_last" [img]="item.contact_image"></app-profile-card>
            </div>
          </div>
              <p class="fs-psb fs-16 pt-4">Reporting Team</p>
            <!-- <div class="" style="overflow: scroll; height: 310px;" >
              <div class="m-0 d-flex"  *ngFor="let customer of viewCustomersList;" (click)="selectedCustomer(customer)">
                <div  class="width-30 align-middle m-0 py-0 pt-2">
                  <div class="d-flex">
                    <div>
                      <img class="imgstyle-" src="assets/images/contacts/{{customer.contact_image}}"/>
                    </div>
                    <div class="pl-2">
                      <p class=" ff-jsb fs-14 m-0 fc-black">
                        {{customer.contact_name}}
                      </p>
                      <p class="customerSubHead ff-pr m-0 fs-12">
                        {{customer.ContactActualTitle}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="align-middle width-20 fs-18 ff-psb m-0 py-0">
                  <div class="d-flex">
                    <div>
                      <p class="m-0">{{customer.customerC12}}</p>
                      <p class="m-0 text-secondary fs-12">target ${{convertNumber(customer.sales_goals)}}M</p>
                    </div>
                    <div>
                      <p class="mt-2 ml-2">{{customer.margin}}%</p>
                    </div>
                  </div>
                </div>
                <div class="align-middle width-25 m-0 py-0 mb-0">
                 <div class="chart-container mb-0 chartSize">
                    <canvas  id="MyChart">{{chart}}</canvas>
                </div> 
                <img  style="width: 150px; height: 60px;" src="assets/images/icons/graph.JPG"/>
                 <p class="fs-10 m-0" >last 6 months sales</p>
                </div>
                <div class="align-middle width-20 m-0 py-0">
                  <div>
                    <span class="pr-3"><img class="img-close-widget" style="height: 40px; width: 40px;"
                        src="assets/images/icons/mail_icon.png"></span>
                    <span class="pr-3"><img class="img-close-widget" style="height: 30px; width: 30px;"
                        src="assets/images/icons/signal_icon.png"></span>
                    <span class="pr-3"><img class="img-close-widget " style="height: 40px; width: 40px;"
                        src="assets/images/icons/threeDots_icon.png"></span>
                  </div>
                </div>
              </div>
            </div>       -->
            <app-my-customers></app-my-customers>
        </div>
        <div class="col-3">
          <div class="card" >
            <div class="card-body">
              <p class="card-text">YTD Sales</p>
            </div>
            <div class="d-inline-flex"  *ngFor="let item of (showAllFlag ? viewCustomersList : viewCustomersList.slice(0,1))" >
              <div class="cardRevenue">{{item.customerC12}}</div>
              <div class="cardPercentage" style="float:right"><span class="percentage">+ {{item.margin}}%</span></div>
            </div>
            </div>
          <div class="d-inline-flex">
            <div class="card1 mt-2">
          <div class="card-body">
            <div>
              <p class="card-text">Growth Rate</p>
            </div>
            <div ><span class="growthRatePercente">8.1%</span></div>
            <div><p class="growthPercente">+ 32.3%</p></div>
          </div>
            </div>
            <div class="card2 mt-2" >
              <div class="card-body">
                <div>
                  <p class="card-text">Matrix Name</p>
                </div>
                <div ><span class="growthRatePercente">%%</span></div>
                <div><p class="growthPercente">+ 32.3%</p></div>
              </div>
                </div>
              </div>
          <div class="actionItems">
            <h3 class="Header mt-4">Action items</h3>
            <div style="border-bottom: 1px solid #D3D3D3;">
              <p class="actionitemheader">Meeting</p>
              <p class="actionHeaderParagraph m-0">Meet Miranda for performance review & bonus</p>
            </div>
            <div style="border-bottom: 1px solid #D3D3D3;">
              <p class="actionitemheader ">Meeting</p>
              <p class="actionHeaderParagraph m-0">Meet Miranda for performance review & bonus</p>
            </div>
            <div style="border-bottom: 1px solid #D3D3D3;">
              <p class="actionitemheader">Meeting</p>
              <p class="actionHeaderParagraph m-0">Meet Miranda for performance review & bonus</p>
            </div>
            <div >
              <p class="actionitemheader ">Meeting</p>
              <p class="actionHeaderParagraph m-0">Meet Miranda for performance review & bonus</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>