.btn-search-data {
  font-size: 12px;
  color: #fff;
  background-color: #cc0001;
  border-color: #cc0001;
  border-top-right-radius: 04px !important;
  border-bottom-right-radius: 04px !important;
}

.btn-search-default {
  font-size: 12px;
  color: #000000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  border-top-right-radius: 04px !important;
  border-bottom-right-radius: 04px !important;
}

.img-icon {
  width: 32px;
  margin-top: 1px;
}

.search-main-top {
  background: url(src/assets/images/search.png);
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 5px;
  padding-left: 40px;
  padding-top: 10px;
  /*font-weight: 600;*/
  font-size: 16px;
  font-family: "Poppins, !important";
  border: 1px solid #e9e9e9;
  border-top-left-radius: 04px !important;
  border-bottom-left-radius: 04px !important;
}

.search-main-top-text {
  background: url(src/assets/images/search.png);
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 5px;
  padding-left: 40px;
  /*font-weight: 600;*/
  font-size: 12px;
  font-family: "Prelo-SemiBold", sans-serif !important;
  border-bottom-left-radius: 0px !important;
}

.jw-modal-tabs .jw-modal-menu {
  padding-left: 0px !important;
}

.jw-modal-tabs ul {
  padding: 13px;
}

.jw-modal-tabs ul li :first-child {
  padding: 10px;
}
.autoComplete-custom-styleing {
  width: 850px !important;
}
.autocomplete-container .input-container input {
  background-color: #f8f9fa !important;
}

.cdk-overlay-container {
  position: fixed;
  top: 40px !important;
  right: 64px !important;
  bottom: 0;
  left: 67.4rem !important;
  z-index: 2000;
  background: #ffffff !important;
  height: 41.5vh;
  width: 25rem;
}
.cdk-overlay-connected-position-bounding-box {
  top: 73px !important;
  left: 83px !important;
  height: 10vh !important;
  width: 100% !important;
}

.hide-data {
  display: none !important;
}

.show-data {
  display: block !important;
}

.mat-optgroup-label {
  height: 32px !important;
  color: #cc0000;
}

.mat-option {
  height: 30px !important;
}

.cdk-overlay-pane {
  width: 100% !important;
}

@media only screen and (max-width: 1400px) {
  .cdk-overlay-container {
    position: fixed;
  top: 40px !important;
  right: 64px !important;
  bottom: 0;
  left: 67.4rem !important;
  z-index: 2000;
  background: #ffffff !important;
  height: 41.5vh;
  width: 25rem;
  }
}

.hide-autocomplete {
  display: none;
}

.bg-light {
  background-color: #f2f2f2 !important;
}

/* .search-bar{
  width:380px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #E9E9E9;

}
.form-control{
  background-color: #F2F2F2;
  color: #8C8C8C;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
} */

.input-group {
  width: 25rem !important;
}
