.alertImage img {
    width: 50px;
 
    /* margin-top: 3.5rem; */
}
.alertImage{
  margin: auto;
  display: flex;
  justify-content: center;

}
.companyName {
    /* color: #00000077; */
    /*text-transform: capitalize;*/
    /* font-size: 12px;
    font-family: 'Prelo-Book', sans-serif; */
    color: #8C8C8C;
    font-family: Poppins-Regular;
    font-size: 11px;
    font-style: normal;   
    line-height: normal;
    margin-top: 1rem;
  } 

   .eventTime {
    /* color: black;
    text-transform: capitalize;
    font-size: 10px!important;
    font-family: 'Prelo-Bold', sans-serif;
    font-weight: bold;
    text-transform: lowercase;
    line-height: 1!important; */
    color: #8C8C8C;
    font-family: Poppins-Regular;
    font-size: 11px;
    font-style: normal;
    line-height: normal;
  }

   .eventDate{
    text-transform: capitalize;
    height:17px;
    /* font-size: 34px!important;
    color: black;
    font-family: 'ff-good-headline-web-pro-ext', sans-serif;
    font-weight: bold;
    line-height: 1!important; */
    color: #8C8C8C;
    font-family: Poppins-Regular;
    font-size: 11px;
    margin-bottom: 2px;
  }
  .companyTitle {
    /*text-transform: capitalize;*/
    /* font-size: 14px;
    font-family: 'Prelo-SemiBold', sans-serif;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis; */
    /* display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show 
    -webkit-box-orient: vertical; */
    color: #000;
    font-family: Poppins-SemiBold;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
  }

  .font-black{
    color:black!important;
  }

  .newsalertData{
    padding-left: 0px;
  }

.news-source{
  margin-top: 0px;
  margin-bottom: 3px;
}

.news-title{
  margin-bottom:2px;
}