<!-- <div class="splash-body">
    <img class="splash-img" src="assets/images/splash.png">
    <div class="splash-text">
        Customer Mosaic is CDW's first ever Artificially Intelligent Customer Data platform. 
        The Sales tool that uses artificial intelligence and customer data to provide useful
        insights into your day to day business.
    </div>
    <button (click)="changeCustomer('corporate')"><img src="assets/images/corporate.png" class="corporate" tooltip="{{splashTooltip}}" placement="bottom"></button>
    <button (click)="changeCustomer('business')"><img src="assets/images/smb.png" class="smb" tooltip="{{small_Biz_Tooltip}}" placement="bottom"></button>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12">
      <div class="bg-login-img h-100 pt-3">
        <img src="assets/images/client-logos/login_left_image_with _bg.png" alt="image alt" class="login-left-img">
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 login-form h-100">
      <div>
        <div>
          <div class="login-360-logo">
            <span><img src="./assets/images/client-logos/full-logo-c360.png" class="img-360styling" /></span>
          </div>
          <div class="log-in-p-logintext">Log in</div>
          <div>
            <span class="log-in-p-welcometext">Welcome back! </span>
            <span class="log-in-p-logintotext">Log in to access smart insights!</span>
          </div>
        </div>
        <div>
          <form (ngSubmit)="submit(uservalue.value,passvalue.value,selectedValue.value)" class="login-p-form">
            <!-- [formGroup]="loginForm" -->
            <div class="input-group">
              <span class="input-group-text login-emial-logo">
                <div class="img-360">
                  <img src="./assets/images/login-email.png" class="img-styling" />
                </div>
              </span>
              <input [style]="username_style? borderRed:borderBlue" #uservalue type="text" class="form-control"
                placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required id="Username"
                [(ngModel)]="validUsername" [ngModelOptions]="{standalone: true}" class="login-username" />
            </div>
            <div id="usernameValidCheck" class="text-danger mb-3"></div>
            <div class="input-group">
              <span class="input-group-text login-passw-logo">
                <div class="image-styling">
                  <img src="./assets/images/login-password.png" class="img-styling" />
                </div>
              </span>
              <input [style]="password_style? borderRed:borderBlue" #passvalue type="password" class="form-control"
                placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required minlength="8"
                id="Password" [(ngModel)]="validpassword" [ngModelOptions]="{standalone: true}"
                class="login-password" />
            </div>
            <div id="passwordValidCheck" class="text-danger mb-3"></div>
            <div class="input-group">
              <span class="input-group-text shadow-sm login-dropdown-logo">
                <div class="image-styling">
                  <img src="./assets/images/login-segment.png" class="img-styling" />
                </div>
              </span>
              <select class="form-select  me-2 shadow-sm login-dropdown outline-n" aria-label="Select Industry" #selectedValue>
                <option selected class="text-secomdary">
                  Select Industry
                </option>
                <option value="corporate">Corporate</option>
                <option value="smallbusiness">Small Business</option>
                <option value="healthcare">Health Care</option>
                <option value="food-beverages">Food & Beverages</option>
                <option value="retail">Retail</option>
                <option value="insurance">Insurance</option>
                <option value="technology">Technology</option>
                <option value="petroleum">Petroleum</option>
                <option value="transportation">Transportation</option>
                <option value="automotive">Automotive</option>
              </select>
            </div>
            <div id="optionValidCheck" class="text-danger mb-3"></div>
            <div class="input-group mb-3 w-100">
              <button type="submit" class="btn btn-bg bg-stronggreen bbtn-sm w-386 mt-4 text-white login-login-button">
                Login
              </button>
            </div>
          </form>
          <div class="div-login-ad-logo">
            <img class="login-ad-logo" src="assets/images/client-logos/login-ad-logo-full.png">
          </div>
        </div>
      </div>
    </div>
  </div>