<div class="splash-body">
    <img class="splash-img" src="assets/images/splash.png">
    <div class="splash-text">
        Customer Mosaic is CDW's first ever Artificially Intelligent Customer Data platform. 
        The Sales tool that uses artificial intelligence and customer data to provide useful
        insights into your day to day business.
    </div>
    <button (click)="changeCustomer('corporate')"><img src="assets/images/corporate.png" class="corporate" tooltip="{{splashTooltip}}" placement="bottom"></button>
    <button (click)="changeCustomer('business')"><img src="assets/images/smb.png" class="smb" tooltip="{{small_Biz_Tooltip}}" placement="bottom"></button>
</div>