.splash-body{
    position: relative;
    height: 100vh;
    width: 100%;
    left: 0; 
    top: 0;
}

.splash-img{
    height:100vh;
    width: 100%;
}
.corporate {
    position: absolute;
    top: 52.1%;
    left: 74%;
    width: 18%
  }

.smb{
    position: absolute;
    top: 59%;
    left: 74%;
    width: 18%;
}

.splash-text {
    position: absolute;
    font-family: 'Prelo-SemiBold'!important;
    font-size:14px;
    top: 30%;
    right: 8%;
    text-align: text;
    width: 18%;
  }
  .font-poppin{
    font-family: Poppins;
  }
  .font-Rosario{
    font-family: Rosario;
  }
  .font_black{
    color: #000000;
  }
  .font_green{
    color:#1DAD8F;
  }
  .w-100{
    width: 100%;

  }
  .w-50{
    width: 50%;
  }
  .w-70{
    width: 70%;
  }
 
  .img-styling{
    width: 20px;
    height: 20px;

  }
  .img-icon{
    height: 10px;;
    width: 10px;
  }
  .btn-bg{
    background-color: #1DAD8F;
    height: 48px;
    font-size: 14px;
  }

  .login-font{
    font-size: 36px;
  }

  .container-relative{
    position: relative;
    padding: 20px;
  }

  .container-absolute{
    position: absolute;
  }
  
  .login-font{
    font-size: 36px;
    font-weight: 600;
  }

  .customer{
    font-size: 24px;
    font-weight: 700;
  }

  .customer360{
    font-size: 24px;
    font-weight: 275;
  }

  .img-360{
    width: 25px;
    height: 25px;
  }
  .welcome-style{
    font-size: 14px;
    font-weight: 700;

  }
  .log-style{
    font-size: 14px;
    font-weight: 400;
  }
  .spacing{
    align-items: center;
    margin-left: 60px;
  }
  
  .holistic_container{
    width: -webkit-fill-available;
    height: 100vh;
   
  }
  .img-360styling
  {
    width: 250px;
    height: 50px;
  }
  
