
*{
  padding: 0;
  margin: 0;
}

.splash-body{
    position: relative;
    height: 100vh;
    width: 100%;
    left: 0; 
    top: 0;
}

.splash-img{
    height:100vh;
    width: 100%;
}
.corporate {
    position: absolute;
    top: 52.1%;
    left: 74%;
    width: 18%
  }

.smb{
    position: absolute;
    top: 59%;
    left: 74%;
    width: 18%;
}

.splash-text {
    position: absolute;
    font-family: 'Prelo-SemiBold'!important;
    font-size:14px;
    top: 30%;
    right: 8%;
    text-align: text;
    width: 18%;
  }
  .font-poppin{
    font-family: Poppins;
  }
  .font-Rosario{
    font-family: Rosario;
  }
  .font_black{
    color: #000000;
  }
  .font_green{
    color:#1DAD8F;
  }
  .w-100{
    width: 100%;

  }
  .w-50{
    width: 50%;
  }
  .w-70{
    width: 70%;
  }
 
  .img-styling{
    width: 20px;
    height: 20px;
  }
  .img-icon{
    height: 10px;;
    width: 10px;
  }

  .login-font{
    font-size: 36px;
  }

  .container-relative{
    position: relative;
    padding: 20px;
  }

  .container-absolute{
    position: absolute;
  }
  
  .login-font{
    font-size: 36px;
    font-weight: 600;
  }

  .customer{
    font-size: 24px;
    font-weight: 700;
  }

  .customer360{
    font-size: 24px;
    font-weight: 275;
  }

  .img-360{
    width: 25px;
    height: 25px;
  }
  .welcome-style{
    font-size: 14px;
    font-weight: 700;

  }
  .log-style{
    font-size: 14px;
    font-weight: 400;
  }
  .spacing{
    align-items: center;
    margin-left: 60px;
  }
  
  .holistic_container{
    width: -webkit-fill-available;
    
  }
  .img-360styling
  {
    width: 185px;
    height: 44px;
  }
  
.login-form{
  display:flex;
  align-items: center;
  justify-content: center;
}
.login-ad-logo{ 
  width: 231px;
  height: 22px;
}
.div-login-ad-logo{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}

.login-360-logo{
  height: 161px;
  display: flex;
  align-items: flex-end;
}


.log-in-p-logintext{
  color: #000;
font-family: Poppins-SemiBold;
font-size: 36px;
height: 60px;
display: flex;
align-items: flex-end;
}

.log-in-p-welcometext{
  color: #343434;
font-family:Poppins-SemiBold;
font-size: 14px;
}

.log-in-p-logintotext{
  color: #343434;
font-family: Poppins-Regular;
font-size: 14px;
}

.login-p-form{
  height: 350px;
  padding-top: 3.75rem; 
}

.login-username{
  width: 330px;
  border:1.5px solid #E9E9E9;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  
}

.login-password{
  width:330px;
  border:1.5px solid #E9E9E9;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  
}

.login-dropdown{
  width:330px;
  border:1.5px solid #E9E9E9;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  
}
.bg-login-img{
  background-color: #000 !important;
}

.login-row{
  box-shadow: 0px 0px 0px 0px;
}

.login-left-topdiv{
  height: 100px;
  border: 2px solid black;
  background:#0D081A;
}

.login-left-bottomdiv{
  height: 100px;
  border: 2px solid black;
  background:#0D081A;
}
.login-emial-logo{
  padding: 0px;
  height: 48px;
  width:50px;
  background:#fff ;
  border:1.5px  solid #E9E9E9 ;
  border-right: none;
  display:flex;
  justify-content: center;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.login-passw-logo{
  padding: 0px;
  height: 48px;
  width:50px;
  background:#fff ;
  border:1.5px solid #E9E9E9;
  border-right: none;
  display:flex;
  justify-content: center;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.login-dropdown-logo{
  padding: 0px;
  height: 48px;
  width:50px;
  background:#fff ;
  border:1.5px solid #E9E9E9;
  border-right: none;
  display:flex;
  justify-content: center;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.login-login-button{
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px  !important;
}
.left-img-login-div{
  padding-left: 0px;
  height:100px;
}
