<div class="card half-card">
  <div class="card-row" (dblclick)="openModal()">
      <div class="col-lg-6 col-md-8 col-sm-8 col-6">
          <div class="card-header" tooltip="{{getAllheadings.tip_cp_reccomendation_widget_title}}" placement="bottom">
              {{getAllheadings.recommendations}}
          </div>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-4 col-6 text-right">
          <app-widget-menu [modalName]="modalName"></app-widget-menu>
      </div>        
  </div>
  <div class="card-body p-0" style="overflow: auto;">
     <!--<div class="card-main-padding">-->
        <img src="assets/images/reco@2x.png" width="100%">
        <!--<ngx-powerbi-component type="report"
            id="e342eb39-4897-4fc8-ae3c-9685e45ae689"
            embedUrl="https://app.powerbi.com/reportEmbed?reportId=e342eb39-4897-4fc8-ae3c-9685e45ae689&autoAuth=true&ctid=de9231de-45f4-4325-ae07-8ae72052517e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D"
            tokenType="Aad"
            accessToken="eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D">
        </ngx-powerbi-component>--->
        <!--<iframe width="100%" height="98%" src="https://app.powerbi.com/reportEmbed?reportId=e342eb39-4897-4fc8-ae3c-9685e45ae689&autoAuth=true&ctid=de9231de-45f4-4325-ae07-8ae72052517e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>-->
        <!--<iframe height="100%" width="100%" src="https://app.powerbi.com/reportEmbed?reportId=e342eb39-4897-4fc8-ae3c-9685e45ae689&autoAuth=true&ctid=de9231de-45f4-4325-ae07-8ae72052517e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D"></iframe>-->

           <!--<div class="recommendation-row">
               <div class="col-md-4 heading">Startegy | Probability(%) | Value</div>
               <div class="col-md-8 heading">Product</div>
           </div>
            
           <div class="fixed-height-recommendations">
            <div class="recommendation-row" *ngFor="let recommendation of recommandations">
                <div class="width-35 overwrite-padding">
                    <div class="probData">
                        <p class="probabiltyImage">
                          <img *ngIf="recommendation.sale_type === 'cross'" class="fundIcon" src="assets/images/icons/cross-sell@2x.png">
                          <img *ngIf="recommendation.sale_type === 'up'" class="fundIcon" src="assets/images/icons/upsell@2x.png">
                        </p>
                        <p class="probabiltyStyle">
                           <span> Probability : <span class="blue-numbers">{{recommendation.probability}}%</span></span>
                           <br />
                           <span>Total Value : <span class="green-numbers"><sup>$</sup> {{recommendation.total_value}}k</span></span>
                        </p>
                    </div> 
                </div>
                <div class="width-5">
                    <p class="small-border"></p>
                </div>
                <div class="width-60 probData">
                    <span class="product" *ngFor="let product of recommendation.product">
                        <img src="assets/images/{{product.product_image}}"> 
                        <span class="productname">{{product.product_name}}</span>
                        <p class="product_value blue-numbers"><sup>$</sup>{{product.product_value}}K</p>
                    </span>
                </div>
               </div>
           </div>-->
           
       <!--</div>-->
    </div>
</div>

<!-- expanded view modal for customer recommendations-->
<jw-modal id={{modalName}}>
    <!--<div class="card-container">-->
    <div class="card-navbar">
        <h5 class="col-sm-4 col-md-4 card-title widget-navbar-heading"><span class="header-probold">{{getAllheadings.recommendations}}</span></h5>
        <form class="form-inline mr-auto my-2">
        <div class="input-group">
            <!-- <input type="text" class="form-control search-main bg-light border-0 small"
            [placeholder]="getAllheadings.placeholderInsideModal"> -->
            <!--<div class="input-group-append">
                <button class="btn btn-search" type="button">
                Search
                </button>
            </div>-->
        </div>
        </form>
    
        <div class="navbar-menu-wrapper m-0 p-0 link-point text-right">
            <div class="m-0 p-0 dropdown d-flex text-right">
                <img class="up-coming-img" src="assets/images/coming.png">
                <a class="nav-link count-indicator m-0 ml-3 mr-3 p-0 pt-2" (click)="closeModal()"><img class="img-close-widget" src="assets/images/icons/close.png"></a>
            </div>
        </div>
    <!-- content goes here-->
    </div>
    <div class="pt-2">
        <img src="assets/images/reco-expand@2x.png" style="width:100%">
    </div>
</jw-modal>

