<div class="card half-card" >
  <div class="card-row header-bg-clr" (dblclick)="openModal()">
      <div class="col-lg-6 col-md-8 col-sm-8 col-6">
          <div class="card-header fc-white" tooltip="{{getAllheadings.tip_cp_reccomendation_widget_title}}" placement="bottom">
              {{getAllheadings.recommendations}}
          </div>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-4 col-6 text-right">
          <app-widget-menu [modalName]="modalName"></app-widget-menu>
      </div>        
  </div>
    <div class="tableFixHead" >
    <table class="table sticky" >

        <thead class="table-header-bg ">
        <tr class=" recommendation-row table-border">
            <th class="col-md-4 heading">Startegy | Probability(%) </th>
            <th class="col-md-4 heading">Total value</th>
            <th class="col-md-4 heading">Product</th>
        </tr>
        </thead>
        <tbody >
        <tr class=" table-boxshadow h-4rem " *ngFor="let recommendation of recommandations">
            <td class="probabiltyStyle col-md-4 ">
                 <div class="d-flex">
                 <p class="blue-numbers text-center tp" *ngIf ="recommendation.probability>=90; else elseBlock" > Probability :Higher
                </p>
                <ng-template #elseBlock>
                    <p class="blue-numbers text-center tp" *ngIf ="recommendation.probability>=80 ; else Block" > Probability :High
                    </p>
                    <ng-template  #Block >
                    <p class="blue-numbers text-center tp"> Probability :Low
                    </p>
                    </ng-template>
                </ng-template>
                 <p class="vertical-border align-right"></p>
                </div> 
            </td>
            <td class="col-md-4 ">
                <div class="d-flex">
                <p class="green-numbers tp" >$ {{recommendation.total_value}}</p>
                <p class="vertical-border align-right "></p>
                </div>
            </td>
            <td class="col-md-4">
                <div class="my-2 width-100">
                <p class="p-0 m-0"><img src="assets/images/{{recommendation.product_image}}"></p>
                <p class="productname p-0 m-0">{{recommendation.product_name}}</p>
                <p class="product_value blue-numbers p-0 m-0">${{recommendation.product_value}}</p>
                </div>
            </td>
        </tr>
    </tbody>
    </table>
    </div>
</div>

<!-- expanded view modal for customer recommendations-->
<jw-modal id={{modalName}}>
    <div class="card-navbar header-bg-clr" (dblclick)="openModal()">
        <h5 class="col-sm-4 col-md-4 card-title-accounts pt-3"><span class="fs-14 fc-white ff-psb ">Sales Opportunity</span>
        </h5>
        <!-- <form class="form-inline mr-auto w-1000 justify-content-end br-4" >
            <div class="input-group" >
                <input type="text" class="form-control search-main input-bg border-0 small br-4 ff-pr fs-12 fw-400" [placeholder]="allHeadings.placeholderInsideModal" name="searchTerm" [(ngModel)]="service.searchTerm">
            </div>
        </form> -->
        <div class="navbar-menu-wrapper m-0 p-0 link-point text-right">
            <div class="m-0 p-0 dropdown d-flex text-right">
                <a class="nav-link count-indicator m-0 ml-3 mr-3 p-0 pt-7" (click)="closeModal()"><img class="img-close-widget" src="assets/images/icons/widget-close.png"></a>
            </div>
        </div>
    
    </div>
 <div class="">
    <table class="table sticky" style="width: 100%;">
        <thead class="table-header-bg table-border table-h-height overflow-stylings-thead">
            <tr>
                <th class="col-md-2 heading">Startegy | Probability(%)</th>
                <th class="col-md-1 heading">Total Value</th>
                <th class="col-md-3 heading">Reasoning</th>
                <th class="col-md-2 heading">Recommended contact</th>
                <th class="col-md-2 heading">Product</th>
                <th class="col-md-2 heading">Category</th>
            </tr>
        </thead>
        <tbody class="overflow-stylings-tbody">
            <tr class=" table-boxshadow h-4rem " *ngFor="let recommendation of recommandations">
                <td class="probabiltyStyle col-md-2 table-border v-align-middle">
                    <p class="blue-numbers text-center tp" *ngIf ="recommendation.probability>=90; else elseBlock" > Probability :Higher
                   </p>
                   <ng-template #elseBlock>
                       <p class="blue-numbers text-center tp" *ngIf ="recommendation.probability>=80 ; else Block" > Probability :High
                       </p>
                       <ng-template  #Block >
                       <p class="blue-numbers text-center tp"> Probability :Low
                       </p>
                       </ng-template>
                   </ng-template>
               </td>
               <td class="col-md-1 table-border v-align-middle">
                <p class="green-numbers text-center" >$ {{recommendation.total_value}}</p>
               </td>
               <td class="col-md-3 table-border m-1 v-align-middle">
                    <div *ngFor ="let item of recommendation.reasons">
                        <p class="p-0 m-0 tp tab-content-text">#{{item}}</p>
                    </div>              
               </td>
               <td class="col-md-2 table-border v-align-middle">
                    <div  *ngFor="let product of recommendation.contacts" >
                        <p  class="blue-numbers"> {{product.name}}</p>
                        <p  > {{product.designation}}</p>
                    </div>
               </td>
               <td class="col-md-2 table-border v-align-middle">
                <div><img src="assets/images/{{recommendation.product_image}}"></div>
                <p class="productname ">{{recommendation.product_name}}</p>
                <p class="product_value blue-numbers p-0">${{recommendation.product_value}}</p>  
               </td>
               <td class="col-md-2 table-border v-align-middle">
                <p class="tab-content-text"> Item type: {{recommendation.item_type}}</p>
                <p class="tab-content-text"> Item class: {{recommendation.item_class}}</p>
                <p class="tab-content-text">PGM:  {{recommendation.pgm}}</p>
               </td>
            </tr>
        </tbody>
    </table>
    </div>
</jw-modal>

