<!-- <div class="side-navigation showSidebar">
  <div class="center">
    <div class="main-logo">
      <a href="/"
        ><img
          src="assets/images/logos/AD-Favicon.png"
          tooltip="{{ cdwTooltipName }}"
          placement="bottom"
          class="img-fluid cdw-logo"
          alt="logo"
          widht="50"
        />
      </a>
    </div>

    <div class="side-menu">
      <div
        class="nav-list-items borderClass"
        [ngClass]="{ fullBorder: navItem.border === 'yes' }"
        *ngFor="let navItem of sideNavitems; let i = index"
        (click)="openCustomersExpanded(navItem)"
      >
        <a href="{{ navItem.href }}" *ngIf="navItem.link === 'yes'">
          <img
            [src]="navItem.itemIcon"
            tooltip="{{ navItem.toolTip }}"
            placement="bottom"
            class="img-fluid nav-logo"
            alt="logo"
          />
          <p class="item-styles">{{ navItem.itemName }}</p>
        </a>
        <span *ngIf="navItem.link === 'no'">
          <span *ngIf="navItem.last === 'yes'"
            ><p style="margin-top: 125px"></p>
          </span>
          <img
            [src]="navItem.itemIcon"
            tooltip="{{ navItem.toolTip }}"
            placement="bottom"
            class="img-fluid nav-logo"
            alt="logo"
          />
          <p class="item-styles-inactive">{{ navItem.itemName }}</p>
        </span>
        <p [ngClass]="{ smallBorder: navItem.bottom === 'yes' }"></p>
      </div>
    </div>
  </div>
</div> -->

<div class="side-navigation showSidebar">
  <div class="center">
    <div class="main-logo pb-1">
      <a href="/">
        <img src="assets/images/client-logos/Favicon_customer_panorama.png" tooltip="{{ cdwTooltipName }}" placement="bottom"
          class="img-fluid cdw-logo" alt="logo" widht="50" />
      </a>
    </div>
    <div class="nav-side-menu mt-5">
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <li>
            <a type="button" (click)="getDetails()">
              <img *ngIf="!home_icon" class="side-nav-logoone" src="assets/images/client-logos/leftnav-home-idle.png">
              <img *ngIf="home_icon" class="side-nav-logoone" src="assets/images/client-logos/leftnav-home-selected.png">
            </a>
          </li>
          <li >
            <a type="button" (click)="getfeatures()" class="nav-item" data-toggle="collapse" data-target="#products" class="collapsed">
              <img  *ngIf="features_icon" class="side-nav-logotwo" src="assets/images/client-logos/leftnav-features-idle.png">
              <img   *ngIf="!features_icon" class="side-nav-logotwo" src="assets/images/client-logos/leftnav-features-selected.png">
            </a>
          </li>
          <ul class="sub-menu collapse" id="products" *ngIf="isValid">
            <li><a type="button" (click)="getfeature('newsalerts')">News</a></li>
            <li><a (click)="getfeature('insights')">Insights</a></li>
            <li><a (click)="getfeature('customerMenu')">Companies</a></li>
            <li><a (click)="getfeature('customerEvents')">Events</a></li>
          </ul>
          <li>
            <a type="button" (click)="getanalytics()">
              <img *ngIf="analytics_icon" class="side-nav-logothree" src="assets/images/client-logos/leftnav-analytics-idle.png">
              <img *ngIf="!analytics_icon"  class="side-nav-logothree" src="assets/images/client-logos/leftnav-analytics-selected.png">
            </a>
          </li>
          <li>
            <a type="button" (click)="openPopup()">
              <img *ngIf="setting_icon" class="side-nav-logofour" src="assets/images/client-logos/leftnav-settings-idle.png">
                <img *ngIf="!setting_icon" class="side-nav-logofour" src="assets/images/client-logos/leftnav-settings-selected.png">
            </a>
          </li>
        </ul>
      </div>
      <div class="footr">
        <img class="side-nav-logo-bottom"  src="assets/images/client-logos/ad-logo-favicon.png">
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}" style="position: absolute; top:2rem">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modify business types</h4>
        <button type="button" class="close" (click)="closePopup()">&times;
        </button>
      </div>
      <div class="modal-body">
        <p>Based on the selected business type view will be changed and respective widgets will be updated with their relavent data</p>
      </div>
      <div>
        <span style="padding-left: 14px;"><strong>Select busines type</strong></span>
        <form class="w-70 d-flex flex-column justify-content-center align-items-center"
          (ngSubmit)="openDashboard(selectedValue.value)">
          <select class="form-select form-control w-100 me-2 shadow-sm pl-2" aria-label="Select Industry" #selectedValue style="width: 95% !important;">          
            <option selected class="text-secomdary">
              Select Industry
            </option>
            <option value="corporate">Corporate</option>
            <option value="smallbusiness">Small Business</option>
            <option value="healthcare">Health Care</option>
            <option value="food-beverages">Food & Beverages</option>
            <option value="retail">Retail</option>
            <option value="insurance">Insurance</option>
            <option value="technology">Technology</option>
            <option value="petroleum">Petroleum</option>
            <option value="transportation">Transportation</option>
            <option value="automotive">Automotive</option>
          </select>
          <div class="modal-footer d-flex justify-content-start" style="width: 100%;">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      

    </div>
  </div>
</div>