<div class="card half-card mb-2">
    <div class="card-row header-bg-clr" (dblclick)="openModal()">
        <div class="col-lg-6 col-md-8 col-sm-8 col-6">
            <div class="card-header" tooltip="{{getAllheadings.tip_cp_conatacts_widget_title}}" placement="bottom">
                {{getAllheadings.customerContacts}}
            </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-4 col-6 text-right">
            <app-widget-menu [modalName]="modalName"></app-widget-menu>
        </div>
    </div>
    <div class="card-body p-0  widger-scoller-half">
        <div class="card-main1 card-height-fixed card-small">
            <div class="row" *ngFor="let contactList of customerContacts;">
                <div class="col-sm-8 col-md-8 contact-margin">
                    <div class="d-flex">
                        <p class="mr-2 pt-1 img-width">
                            <img src="assets/images/icons/contact.png" *ngIf="contactList.contact_image === ''"/>
                            <img src="assets/images/contacts/{{contactList.contact_image}}" *ngIf="contactList.contact_image != ''"/>
                        </p>
                        <p class="contactName-margin-top">
                            <span class="sm-text fb companyName-field">{{contactList.contact_name}}</span>
                            <br>
                            <span class="d-flex trade-icons-s color-style-span">{{contactList.ContactActualTitle}}</span>
                            <br>  
                            <span class="d-flex color-style-span icon-colors">
                                <p *ngIf="contactList.cdw_spend_image === 'high' && contactList.cdw_spend_image != ''" tooltip="{{getAllheadings.tip_contact_icon_hl_cdwspend}}" placement="bottom"><img class="pr-1" src="assets/images/icons/high-cdw-spend.png"></p>
                                <p *ngIf="contactList.cdw_spend_image === 'low' && contactList.cdw_spend_image != ''" tooltip="{{getAllheadings.tip_contact_icon_hl_cdwspend}}" placement="bottom"><img class="pr-1" src="assets/images/icons/low-cdw-spend.png"></p>
                                <p *ngIf="contactList.cdw_spend_image === 'medium' && contactList.cdw_spend_image != ''" tooltip="{{getAllheadings.tip_contact_icon_hl_cdwspend}}" placement="bottom"><img class="pr-1" src="assets/images/icons/medium-cdw-spend.png"></p>
                                <p *ngIf="contactList.online_activity === 'high' && contactList.online_activity != ''" tooltip="{{getAllheadings.tip_contact_icon_hl_onlineactivity}}" placement="bottom"><img class="pr-1" src="assets/images/icons/high-online-activity.png"></p>
                                <p *ngIf="contactList.online_activity === 'low' && contactList.online_activity != ''" tooltip="{{getAllheadings.tip_contact_icon_hl_onlineactivity}}" placement="bottom"><img class="pr-1" src="assets/images/icons/low-online-activity.png"></p>
                                <p *ngIf="contactList.online_activity === 'medium' && contactList.online_activity != ''" tooltip="{{getAllheadings.tip_contact_icon_hl_onlineactivity}}" placement="bottom"><img class="pr-1" src="assets/images/icons/medium-online-activity.png"></p>
                                <p *ngIf="contactList.email_interaction === 'low' && contactList.email_interaction != ''" tooltip="{{getAllheadings.tip_contact_icon_hl_emailinteraction}}" placement="bottom"><img class="pr-1" src="assets/images/icons/low-email-response.png"></p>
                                <p *ngIf='contactList.email_interaction === "medium" && contactList.email_interaction != ""' tooltip="{{getAllheadings.tip_contact_icon_hl_emailinteraction}}" placement="bottom"><img class="pr-1" src="assets/images/icons/medium-email-response.png"></p>
                                <p *ngIf='contactList.email_interaction === "high" && contactList.email_interaction != ""' tooltip="{{getAllheadings.tip_contact_icon_hl_emailinteraction}}" placement="bottom"><img class="pr-1" src="assets/images/icons/high-email-response.png"></p>
                                <!--<p *ngIf='contactList.nps > 5 && contactList.nps != ""' tooltip="{{getAllheadings.tip_contact_icon_hl_instagram}}" placement="bottom"><img class="pr-1" src="assets/images/icons/nps-high.png"></p>
                                <p *ngIf='contactList.nps < 5 && contactList.nps != ""' tooltip="{{getAllheadings.tip_contact_icon_hl_instagram}}" placement="bottom"><img class="pr-1" src="assets/images/icons/nps-low.png"></p>
                                <p *ngIf='contactList.nps === 5 && contactList.nps != ""' tooltip="{{getAllheadings.tip_contact_icon_hl_instagram}}" placement="bottom"><img class="pr-1" src="assets/images/icons/nps-medium.png"></p>-->
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4  contact-margin">
                    <div class="trade-icons-image text-right hoverStyle iconContacts">
                        <p class="linkedinSubscribers" *ngIf="contactList.T12M != 0" tooltip="{{getAllheadings.tip_cp_contacts_t12mspend}}" placement="bottom">${{contactList.T12M}}</p>
                        <p class="linkedinSubscribers" *ngIf="contactList.T12M == 0" tooltip="{{getAllheadings.tip_cp_contacts_t12mspend}}" placement="bottom">$0K</p>
                        <img *ngIf='contactList.ContactPhone != "" && contactList.ContactPhone != "NULL"' tooltip="{{contactList.ContactPhone}}" placement="bottom" src="assets/images/icons/telephone.png">
                        <img *ngIf='contactList.EMailAddress != "" && contactList.EMailAddress != "NULL"' class="ml-2" tooltip="{{contactList.EMailAddress}}" placement="bottom" src="assets/images/icons/envelope.png">
                        <a *ngIf='contactList.LinkedIn != "" && contactList.LinkedIn != "NA"' href="{{contactList.LinkedIn}}" target="_blank"><img  class="ml-2" tooltip="{{getAllheadings.tip_contact_icon_sm_linkedin}}" placement="bottom" src="assets/images/icons/linkedin@2x.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- expanded view modal for customer contacts-->
<jw-modal id={{modalName}}>
    <!--<div class="card-container">-->
    <div class="card-navbar header-bg-clr" style="vertical-align: middle!important;">
        <h5 class="col-sm-4 col-md-4 card-title widget-navbar-heading mt-1"><span class="header-probold">{{getAllheadings.customerContacts}}</span></h5>
        <form class="form-inline mr-auto">
                <div class="input-group">
                        <!---<input type="text" class="form-control search-main bg-light border-0 small"
                        [placeholder]="getAllheadings.placeholderInsideModal">--->
                </div>
        </form>

        <div class="navbar-menu-wrapper m-0 p-0 link-point text-right">
            <div class="m-0 p-0 dropdown d-flex text-right">
                <a class="nav-link count-indicator m-0 ml-3 mr-3 p-0 pt-2" (click)="closeModal()"><img class="img-close-widget" src="assets/images/icons/close.png"></a>
            </div>
        </div>
        <!-- content goes here-->
   </div>
   <div class="table-center">
       
    <table class="table">
        <thead class="overflow-stylings-thead text-prelo-bold-12">
            <tr>
                <th scope="col" class="width-14" tooltip="{{getAllheadings.tip_cp_contacts_exp_col_contactinfo}}" placement="bottom">Contact Information</th>
                <th scope="col" class="width-14" tooltip="{{getAllheadings.tip_cp_contacts_exp_col_highlights}}" placement="bottom">CDW Highlights</th>
                <th scope="col" style="width:8.9%" tooltip="{{getAllheadings.tip_cp_contacts_exp_col_t12mspend}}" placement="bottom">$T12M | CDW Spend%</th>
                <th scope="col" class="width-15" tooltip="{{getAllheadings.tip_cp_contacts_exp_col_invoiceinfo}}" placement="bottom">Invoice Details</th>
                <th scope="col" class="width-7" tooltip="{{getAllheadings.tip_cp_contacts_exp_col_location}}" placement="bottom">Location</th>
                <th scope="col" class="width-15" tooltip="{{getAllheadings.tip_contact_total_calls_emails}}" placement="bottom">Total Calls & Emails</th>
                <th scope="col" class="width-10" tooltip="{{getAllheadings.tip_contact_trends}}" placement="bottom">Trends</th>
                <th scope="col" class="width-8" tooltip="{{getAllheadings.tip_cp_contacts_exp_col_updatedate}}" placement="bottom">Modified Date</th>
                <th scope="col" class="width-9" tooltip="{{getAllheadings.tip_cp_contacts_exp_col_actions}}" placement="bottom">Action</th>
            </tr>
           
        </thead>
        <p class="tbody-heading-bottom heading-color">{{getAllheadings.contactBuyers}}:</p>
        <tbody class="cursor-default mb-2" [ngClass]="{'overflow-stylings-tbody': customerContantsList.length != 0, 'overflow-stylings-tbody1': customerContantsList.length === 0}">
            <span *ngFor="let contactList of customerContacts">
            <tr  [ngClass]="{'overflow-stylings-tr': contactInfluences.length != 0, 'overflow-stylings-tr1': contactInfluences.length === 0}">
                <td class="width-14">
                    <div class="d-flex pt-2" >
                        <p class="mr-2 pt-1 img-width mb-0">
                            <img src="assets/images/icons/contact.png" *ngIf="contactList.contact_image === ''"/>
                            <img src="assets/images/contacts/{{contactList.contact_image}}" *ngIf="contactList.contact_image != ''"/>
                        </p>
                        <p>
                            <span class="sm-text fb companyName-field">
                            <ngb-highlight [result]="contactList.contact_name"></ngb-highlight>

    
                        </span>                           
                            <br />
                            <!-- <span class="d-flex trade-icons-s"><a href="#" class="p-0 mr-2"><img src="assets/images/fortune-logo-1-2x.png"/></a> <a href="#" class="p-0 mr-2"><img src="assets/images/repeat-logo-1-2x.png"/></a> <a href="#" class="p-0 mr-2"><img src="assets/images/w-logo-1-2x.png"/></a> <a href="#" class="p-0 mr-2"><img src="assets/images/doll-logo-1-2x.png"/></a></span> -->
                            <span class="actualTitle">{{contactList.ContactActualTitle}}</span>
                            <br/>
                            <span class="d-flex trade-icons-s cursors">
                                <a *ngIf='contactList.LinkedIn != "" && contactList.LinkedIn != "NA"' href="{{contactList.LinkedIn}}" target="_blank" tooltip="{{getAllheadings.tip_contact_icon_sm_linkedin}}"   placement="bottom"><img  src="assets/images/icons/linkedin@2x.png" class="mr-1"></a>
                                <a *ngIf='contactList.twitter != "" && contactList.twitter != "NA"' href="{{contactList.twitter}}" target="_blank" tooltip="{{getAllheadings.tip_contact_icon_sm_twitter}}" placement="bottom"><img src="assets/images/icons/twitter@2x.png" class="mr-1"></a> 
                                <a *ngIf='contactList.facebook != "" && contactList.facebook != "NA"' href="{{contactList.facebook}}" target="_blank"  tooltip="{{getAllheadings.tip_contact_icon_sm_facebook}}" placement="bottom"><img  src="assets/images/icons/facebook@2x.png" class="mr-1"></a>
                                <a *ngIf='contactList.instagram != "" && contactList.instagram != "NA"' href="{{contactList.instagram" target="_blank" tooltip="{{getAllheadings.tip_contact_icon_sm_instagram}}"  placement="bottom"><img src="assets/images/icons/instagram@2x.png" class="mr-1"></a>
                           </span>
                         </p>
                    </div>
                </td>
                <td class="text-center" class="width-14">
                    <table class="inner-table table-bordered icon-descp width-90">
                        <tr *ngIf="contactList.cdw_spend_image != ''" class="inner-table-p-0 table-bordered pr-1">
                            <td class="contactDetails img-remove-padding-top width-10 table-bordered">
                                <span *ngIf="contactList.cdw_spend_image === 'high'"><img  src="assets/images/icons/high-cdw-spend.png"  tooltip="{{getAllheadings.tip_contact_icon_hl_cdwspend}}" placement="bottom"></span>
                                <span *ngIf="contactList.cdw_spend_image === 'low'"><img  src="assets/images/icons/low-cdw-spend.png"  tooltip="{{getAllheadings.tip_contact_icon_hl_cdwspend}}" placement="bottom"></span>
                                <span *ngIf="contactList.cdw_spend_image === 'medium'"><img  src="assets/images/icons/medium-cdw-spend.png"  tooltip="{{getAllheadings.tip_contact_icon_hl_cdwspend}}" placement="bottom"></span>
                            </td>
                            <td class="inner-table-p-0 table-bordered width-90 icon-descp contactDetails">
                                <span *ngIf="contactList.cdw_spend_image === 'high'">High CDW Spend</span>
                                <span *ngIf="contactList.cdw_spend_image === 'low'">Low CDW Spend</span>
                                <span *ngIf="contactList.cdw_spend_image === 'medium'">Medium CDW Spend</span>
                           </td>
                        </tr>
                        <tr *ngIf="contactList.online_activity != ''" class="inner-table-p-0 table-bordered pr-1">
                            <td class="contactDetails img-remove-padding-top width-10 table-bordered">
                                <span *ngIf="contactList.online_activity === 'high'"><img  src="assets/images/icons/high-online-activity.png" tooltip="{{getAllheadings.tip_contact_icon_hl_onlineactivity}}" placement="bottom"></span>
                                <span *ngIf="contactList.online_activity === 'low'"><img  src="assets/images/icons/low-online-activity.png" tooltip="{{getAllheadings.tip_contact_icon_hl_onlineactivity}}" placement="bottom"></span>
                                <span *ngIf="contactList.online_activity === 'medium'"><img  src="assets/images/icons/medium-online-activity.png" tooltip="{{getAllheadings.tip_contact_icon_hl_onlineactivity}}" placement="bottom"></span>
                            </td>
                            <td class="width-90 icon-descp contactDetails" class="inner-table-p-0 table-bordered">
                                <span *ngIf="contactList.online_activity === 'high'">High Online Activity</span>
                                <span *ngIf="contactList.online_activity === 'low'">Low Online Activity</span>
                                <span *ngIf="contactList.online_activity === 'medium'">Medium Online Activity</span>
                            </td>
                        </tr>
                        <tr *ngIf="contactList.email_interaction != ''" class="inner-table-p-0 table-bordered pr-1">
                            <td class="contactDetails img-remove-padding-top width-10 table-bordered" >
                                <span *ngIf="contactList.email_interaction === 'low'"><img  src="assets/images/icons/low-email-response.png" tooltip="{{getAllheadings.tip_contact_icon_hl_emailinteraction}}" placement="bottom"></span>
                                <span *ngIf='contactList.email_interaction === "medium"'><img  src="assets/images/icons/medium-email-response.png" tooltip="{{getAllheadings.tip_contact_icon_hl_emailinteraction}}" placement="bottom"></span>
                                <span *ngIf='contactList.email_interaction === "high"'><img  src="assets/images/icons/high-email-response.png" tooltip="{{getAllheadings.tip_contact_icon_hl_emailinteraction}}" placement="bottom"></span>
                            </td>
                            <td class="width-90 icon-descp contactDetails" class="inner-table-p-0 table-bordered">
                                <span *ngIf="contactList.email_interaction === 'medium'" class="text-padding">Medium Email Response</span>
                                <span *ngIf="contactList.email_interaction === 'low'" class="text-padding">Low Email Response</span>
                                <span *ngIf="contactList.email_interaction === 'high'" class="text-padding">High Email Response</span>
                            </td>
                        </tr>
                        <!--<tr *ngIf="contactList.nps != ''" class="inner-table-p-0 table-bordered">
                            <td class="contactDetails inner-table-p-0 width-15 table-bordered">
                                <span *ngIf='contactList.nps > 5'><img class="pr-1" src="assets/images/icons/nps-high.png" tooltip="{{getAllheadings.tip_contact_icon_hl_instagram}}" placement="bottom"></span>
                                <span *ngIf='contactList.nps < 5'><img class="pr-1" src="assets/images/icons/nps-low.png" tooltip="{{getAllheadings.tip_contact_icon_hl_instagram}}" placement="bottom"></span>
                                <span *ngIf='contactList.nps === 5'><img class="pr-1" src="assets/images/icons/nps-medium.png" tooltip="{{getAllheadings.tip_contact_icon_hl_instagram}}" placement="bottom"></span>
                            </td>
                            <td class="width-90 icon-descp contactDetails" class="inner-table-p-0 table-bordered">
                                <span class="text-padding">NPS: {{contactList.nps}}/10</span>
                           </td>
                        </tr>-->
                        <tr *ngIf="contactList.cdw_spend_image == '' && contactList.online_activity == '' && contactList.email_interaction == ''">
                           <td class="text-center">-</td>
                        </tr>
                    </table>
                  </td>
                <td class="text-center grey-numbers width-9" *ngIf="contactList.T12M != 0">${{contactList.T12M}} | {{contactList.cdw_spend_percent}}</td>
                <td class="text-center grey-numbers width-9" *ngIf="contactList.T12M == 0">-</td>
                <td class="width-15">
                    <table class="table-bordered" *ngIf="contactList.ContactLastInvoiceDateSeq != ''">
                        <tr class="inner-table-p-0 table-bordered">
                            <td class="invoice contactDetails inner-table-p-0 table-bordered width-60">
                                Last Invoice Date:
                            </td>
                            <td *ngIf="contactList.ContactLastInvoiceDateSeq != ''" class="blue-numbers invoiceDate inner-table-p-0 table-bordered">
                                {{contactList.ContactLastInvoiceDateSeq}}
                            </td>
                            <td *ngIf="contactList.ContactLastInvoiceDateSeq == ''" class="blue-numbers invoiceDate inner-table-p-0 table-bordered">
                                -
                            </td>
                        </tr>
                        <tr class="inner-table-p-0 table-bordered">
                            <td class="invoice contactDetails inner-table-p-0 table-bordered width-60">Avg. Order Value:</td>
                            <td *ngIf="contactList.average_order_value != ''" class="green-numbers invoiceDate inner-table-p-0 table-bordered">${{contactList.average_order_value}}</td>
                            <td *ngIf="contactList.average_order_value == ''" class="green-numbers invoiceDate inner-table-p-0 table-bordered">-</td>
                        </tr>
                        <tr class="inner-table-p-0 table-bordered">
                            <td class="invoice contactDetails inner-table-p-0 table-bordered width-60">Avg. Order Frequency:</td>
                            <td class="grey-numbers invoiceDays inner-table-p-0 table-bordered">{{contactList.average_order_frequency}}<span>Days</span></td>
                        </tr>                        
                    </table>
                    <p *ngIf="contactList.ContactLastInvoiceDateSeq == ''" class="text-center">-</p>
                </td>
                <td class="text-center actualTitle width-7" *ngIf="contactList.contact_location != ''">{{contactList.contact_location}}</td>
                <td class="text-center actualTitle width-7" *ngIf="contactList.contact_location === ''">-</td>
                <td class="width-15 calls-emails-block">
                    <table class="width-100">
                        <tr class="vertical-align-middle">
                            <td class="font-size-text text-left width-25" style="padding-top: 0.5rem!important;">
                                <span tooltip="{{getAllheadings.tip_total_calls}}" placement="bottom">Calls:</span>
                            </td>
                            <td class="text-left numbers-text width-14" *ngIf="contactList.total_calls != null && contactList.total_calls != ''">{{contactList.total_calls}}</td>
                            <td class="text-left numbers-text width-14" *ngIf="contactList.total_calls === null || contactList.total_calls === '' || contactList.total_calls === 0">0</td>
                            <td class="width-60 text-center">
                                <table class="width-100">
                                    <tr>
                                        <td tooltip="" placement="bottom" class="text-left width-50">
                                            <span class="width-10 font-size-text" tooltip="{{getAllheadings.tip_outbound_calls}}" placement="bottom">O/B:</span><span class="YTD-style color-yellow number-graph text-right">{{contactList.outbound_calls}}</span>
                                        </td>
                                        <td placement="bottom" class="text-right width-100">
                                            <span class="font-size-text" tooltip="{{getAllheadings.tip_inbound_calls}}" placement="bottom">I/B:</span><span class="YTD-style color-grey  number-graph text-right">{{contactList.inbound_calls}}</span>
                                        </td>
                                    </tr>
                                </table>
                                <table class="mb-table" style="width:100%">
                                    <tr>
                                        <td>
                                            <span class="progress custom-progress">
                                            <span class="progress-bar custom-progressBar1" [ngStyle]="{'width': contactList.callsPercent +'%'}"></span>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="vertical-align-middle">
                            <td class="font-size-text width-25 text-left" style="padding-top: 0.5rem!important;">
                                <span tooltip="{{getAllheadings.tip_total_emails}}" placement="bottom">Emails:</span>
                            </td> 
                            <td class="text-left numbers-text width-14" *ngIf="contactList.total_emails != null && contactList.total_emails != ''">{{contactList.total_emails}}</td>
                            <td class="text-left numbers-text width-14" *ngIf="contactList.total_emails === null || contactList.total_emails == ''">0</td>
                            <td class="width-60 text-center">
                                <table class="width-100">
                                    <tr>
                                        <td tooltip="" placement="bottom" class="text-left width-50">
                                            <span class="width-10 font-size-text" tooltip="{{getAllheadings.tip_outbound_emails}}" placement="bottom">O/B:</span><span class="YTD-style color-Green number-graph text-right">{{contactList.outbound_emails}}</span>
                                        </td>
                                        <td placement="bottom" class="text-right width-100">
                                            <span class="font-size-text" tooltip="{{getAllheadings.tip_inbound_emails}}" placement="bottom">I/B:</span><span class="YTD-style color-grey  number-graph text-right">{{contactList.inbound_emails}}</span>
                                        </td>
                                    </tr>
                                </table>
                                <table class="mb-table" style="width:100%">
                                    <tr>
                                        <td>
                                            <span class="progress custom-progress">
                                            <span class="progress-bar custom-progressBar2" [ngStyle]="{'width': contactList.emailsPercent +'%'}"></span>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </td>

                        </tr>
                    </table>
                 </td>
                <td class="width-10 calls-emails-block">
                   
                        <table class="custom-table-styles">
                            <tr>
                                <td class="width-50 font-size-text text-left">
                                    <span tooltip="{{getAllheadings.tip_trends_outbound_calls}}" placement="bottom"> C-O/B: </span>
                                </td>
                                <td class="width-50 text-left grey-numbers1">
                                    <span tooltip="{{getAllheadings.tip_icon_trend_up}}" placement="bottom"  *ngIf="contactList.outbound_calls >= contactList.pm_outbound_calls">
                                        <img class='change-percent' src="assets/images/icons/high@2x.png"/>
                                    </span>
                                    <span tooltip="{{getAllheadings.tip_icon_trend_down}}" placement="bottom" *ngIf="contactList.outbound_calls < contactList.pm_outbound_calls">
                                        <img class='change-percent' src="assets/images/icons/low@2x.png"/>
                                    </span>
                                    <span *ngIf="contactList.pm_outbound_calls > 0 && contactList.outbound_calls - contactList.pm_outbound_calls != 0">
                                        {{(((contactList.outbound_calls - contactList.pm_outbound_calls)/contactList.pm_outbound_calls).toFixed(1))}}
                                    </span>
                                    <span *ngIf="contactList.pm_outbound_calls <= 0 || contactList.outbound_calls - contactList.pm_outbound_calls === 0">
                                         <span *ngIf="(contactList.outbound_calls < contactList.pm_outbound_calls)">-</span>0.0
                                    </span> %
                                </td>
                            </tr>
                            <tr>
                                <td class="width-50 font-size-text text-left">
                                   <span tooltip="{{getAllheadings.tip_trends_inbound_calls}}" placement="bottom"> C-I/B: </span>
                                </td>
                                <td class="width-50 text-left grey-numbers1">
                                    <span tooltip="{{getAllheadings.tip_icon_trend_up}}" placement="bottom" *ngIf="contactList.inbound_calls >= contactList.pm_inbound_calls">
                                        <img class='change-percent' src="assets/images/icons/high@2x.png"/>
                                    </span>
                                    <span tooltip="{{getAllheadings.tip_icon_trend_down}}" placement="bottom" *ngIf="contactList.inbound_calls < contactList.pm_inbound_calls">
                                        <img class='change-percent' src="assets/images/icons/low@2x.png"/>
                                    </span>
                                    <span *ngIf="contactList.pm_inbound_calls > 0 && contactList.inbound_calls - contactList.inbound_calls != 0">
                                        {{(((contactList.inbound_calls - contactList.pm_inbound_calls)/contactList.pm_inbound_calls).toFixed(1))}}
                                    </span>
                                    <span *ngIf="contactList.pm_inbound_calls <= 0 || contactList.inbound_calls - contactList.inbound_calls === 0">
                                         <span *ngIf="(contactList.inbound_calls < contactList.pm_inbound_calls)">-</span>0.0
                                    </span> %                           
                                </td>
                            </tr>
                            <tr>
                                <td class="width-50 font-size-text text-left">
                                    <span tooltip="{{getAllheadings.tip_trends_outbound_emails}}" placement="bottom"> E-O/B: </span>
                                </td>
                                <td class="width-50 text-left grey-numbers1">
                                    <span tooltip="{{getAllheadings.tip_icon_trend_up}}" placement="bottom" *ngIf="(contactList.outbound_emails >= contactList.pm_outbound_emails)">
                                        <img class='change-percent' src="assets/images/icons/high@2x.png"/>
                                    </span>
                                    <span tooltip="{{getAllheadings.tip_icon_trend_down}}" placement="bottom" *ngIf="(contactList.outbound_emails < contactList.pm_outbound_emails)">
                                        <img class='change-percent' src="assets/images/icons/low@2x.png"/>
                                    </span>
                                    <span *ngIf="contactList.pm_outbound_emails > 0 && contactList.outbound_emails - contactList.pm_outbound_emails != 0">
                                        {{(((contactList.outbound_emails - contactList.pm_outbound_emails)/contactList.pm_outbound_emails).toFixed(1))}}
                                    </span>
                                    <span *ngIf="contactList.pm_outbound_emails <= 0 || contactList.outbound_emails - contactList.pm_outbound_emails === 0">
                                         <span *ngIf="(contactList.outbound_emails < contactList.pm_outbound_emails)">-</span>0.0
                                    </span> %
                                </td>
                            </tr>
                            <tr>
                                <td class="width-50 font-size-text text-left">
                                    <span tooltip="{{getAllheadings.tip_trends_inbound_emails}}" placement="bottom">  E-I/B: </span>
                                </td>
                                <td class="width-50 text-left grey-numbers1">
                                    <span tooltip="{{getAllheadings.tip_icon_trend_up}}" placement="bottom" *ngIf="(contactList.inbound_emails >= contactList.pm_inbound_emails)">
                                        <img class='change-percent' src="assets/images/icons/high@2x.png"/>
                                    </span>
                                    <span tooltip="{{getAllheadings.tip_icon_trend_down}}" placement="bottom" *ngIf="(contactList.inbound_emails < contactList.pm_inbound_emails)">
                                        <img class='change-percent' src="assets/images/icons/low@2x.png"/>
                                    </span>
                                    <span *ngIf="contactList.pm_inbound_emails > 0 && contactList.inbound_emails - contactList.pm_inbound_emails != 0">
                                        {{(((contactList.inbound_emails - contactList.pm_inbound_emails)/contactList.pm_inbound_emails).toFixed(1))}}
                                    </span>
                                    <span *ngIf="contactList.pm_inbound_emails <= 0 || contactList.inbound_emails - contactList.pm_inbound_emails === 0">
                                         <span *ngIf="(contactList.inbound_emails < contactList.pm_inbound_emails)">-</span>0.0
                                    </span> %
                                </td>
                            </tr>
                        </table>
                    
                </td>
                <td *ngIf="contactList.contact_last_updated_date != '' && contactList.contact_last_updated_date !='NULL'" class="text-center grey-numbers width-8">{{contactList.contact_last_updated_date}}</td>
                <td *ngIf="contactList.contact_last_updated_date == '' || contactList.contact_last_updated_date ==='NULL'" class="text-center grey-numbers width-8">-</td>
                <td class="text-center width-9">
                    <span class="d-flex images">
                        <img *ngIf="contactList.ContactPhone != '' && contactList.ContactPhone != 'NULL'" tooltip="{{contactList.ContactPhone}}" placement="bottom" src="assets/images/icons/telephone.png">
                        <img class="ml-2" *ngIf="contactList.EMailAddress != '' && contactList.EMailAddress != 'NULL'" tooltip="{{contactList.EMailAddress}}" placement="bottom" src="assets/images/icons/envelope.png">
                        <img class="ml-2" placement="left" src="assets/images/icons/bookmark-big@2x.png" tooltip="{{getAllheadings.tip_contact_icon_act_bookmark}}" placement="bottom">
                    </span>
                </td>
            </tr>            
        </span>
        </tbody>
        <p class="tbody-heading-bottom heading-color" *ngIf="customerContantsList.length != 0">{{getAllheadings.contactInfluencers}}:</p>
        <tbody class="cursor-default mb-2" [ngClass]="{'overflow-stylings-tbody': customerContantsList.length != 0, 'overflow-stylings-tbody1': customerContantsList.length === 0}">
            <tr *ngFor="let contactList of customerContantsList">
                <td class="width-14">
                    <div class="d-flex">
                        <p class="mr-2 pt-1 img-width">
                            <img src="assets/images/icons/contact.png" *ngIf="contactList.contact_image === ''"/>
                            <img src="assets/images/contacts/{{contactList.contact_image}}" *ngIf="contactList.contact_image != ''"/>
                        </p>
                        <p>
                            <span class="sm-text fb companyName-field">
                            <ngb-highlight [result]="contactList.contact_name"></ngb-highlight>    
                        </span>                           
                            <br />
                            <!-- <span class="d-flex trade-icons-s"><a href="#" class="p-0 mr-2"><img src="assets/images/fortune-logo-1-2x.png"/></a> <a href="#" class="p-0 mr-2"><img src="assets/images/repeat-logo-1-2x.png"/></a> <a href="#" class="p-0 mr-2"><img src="assets/images/w-logo-1-2x.png"/></a> <a href="#" class="p-0 mr-2"><img src="assets/images/doll-logo-1-2x.png"/></a></span> -->
                            <span class="actualTitle">{{contactList.ContactActualTitle}}</span>
                            <br/>
                            <span class="d-flex trade-icons-s cursors">
                                <a *ngIf='contactList.LinkedIn != "" && contactList.LinkedIn != "NA"' href="{{contactList.LinkedIn}}" target="_blank"><img  src="assets/images/icons/linkedin@2x.png" class="mr-1"></a>
                                <a *ngIf='contactList.twitter != "" && contactList.twitter != "NA"' href="{{contactList.twitter}}" target="_blank"><img  src="assets/images/icons/twitter@2x.png" class="mr-1"></a> 
                                <a *ngIf='contactList.facebook != "" && contactList.facebook != "NA"' href="{{contactList.facebook}}" target="_blank"><img src="assets/images/icons/facebook@2x.png" class="mr-1"></a>
                                <a *ngIf='contactList.instagram != "" && contactList.instagram != "NA"' href="{{contactList.instagram}}" target="_blank"><img  src="assets/images/icons/instagram@2x.png" class="mr-1"></a>
                           </span>
                        </p>
                    </div>
                </td>
                <td class="text-center width-14">
                    <table class="table-bordered icon-descp">
                        <tr *ngIf="contactList.cdw_spend != ''" class="inner-table-p-0 table-bordered">
                            <td class="width-15 contactDetails" class="inner-table-p-0 width-15 table-bordered">
                                <span *ngIf="contactList.cdw_spend === 'high'"><img class="pr-1" src="assets/images/icons/high-cdw-spend.png"></span>
                                <span *ngIf="contactList.cdw_spend === 'low'"><img class="pr-1" src="assets/images/icons/low-cdw-spend.png"></span>
                                <span *ngIf="contactList.cdw_spend === 'medium'"><img class="pr-1" src="assets/images/icons/medium-cdw-spend.png"></span>
                            </td>
                            <td class="width-80 icon-descp contactDetails" class="inner-table-p-0 table-bordered">
                                <span *ngIf="contactList.cdw_spend === 'high'">High CDW Spend</span>
                                <span *ngIf="contactList.cdw_spend === 'low'">Low CDW Spend</span>
                                <span *ngIf="contactList.cdw_spend === 'medium'">Medium CDW Spend</span>
                           </td>
                        </tr>
                        <tr *ngIf="contactList.online_activity != ''" class="inner-table-p-0 table-bordered">
                            <td class="width-15 contactDetails" class="inner-table-p-0 width-15 table-bordered">
                                <span *ngIf="contactList.online_activity === 'high'"><img class="pr-1" src="assets/images/icons/high-online-activity.png"></span>
                                <span *ngIf="contactList.online_activity === 'low'"><img class="pr-1" src="assets/images/icons/low-online-activity.png"></span>
                                <span *ngIf="contactList.online_activity === 'medium'"><img class="pr-1" src="assets/images/icons/medium-online-activity.png"></span>
                            </td>
                            <td class="width-80 icon-descp contactDetails" class="inner-table-p-0 table-bordered">
                                <span *ngIf="contactList.online_activity === 'high'">High Online Activity</span>
                                <span *ngIf="contactList.online_activity === 'low'">Low Online Activity</span>
                                <span *ngIf="contactList.online_activity === 'medium'">Medium Online Activity</span>
                            </td>
                        </tr>
                        <tr *ngIf="contactList.email_interaction != ''" class="inner-table-p-0 table-bordered">
                            <td class="width-15 contactDetails" class="inner-table-p-0 width-15 table-bordered">
                                <span *ngIf="contactList.email_interaction === 'low'"><img class="pr-1" src="assets/images/icons/low-email-response.png"></span>
                                <span *ngIf='contactList.email_interaction === "medium"'><img class="pr-1" src="assets/images/icons/medium-email-response.png"></span>
                                <span *ngIf='contactList.email_interaction === "high"'><img class="pr-1" src="assets/images/icons/high-email-response.png"></span>
                            </td>
                            <td class="width-80 icon-descp contactDetails" class="inner-table-p-0 table-bordered">
                                <span *ngIf="contactList.email_interaction === 'medium'" class="text-padding">Medium Email Response</span>
                                <span *ngIf="contactList.email_interaction === 'low'" class="text-padding">Low Email Response</span>
                                <span *ngIf="contactList.email_interaction === 'high'" class="text-padding">High Email Response</span>
                            </td>
                        </tr>
                        <!--<tr *ngIf="contactList.nps != ''" class="inner-table-p-0 table-bordered">
                            <td class="width-15 contactDetails" class="inner-table-p-0 width-15 table-bordered">
                                <span *ngIf='contactList.nps > 5'><img class="pr-1" src="assets/images/icons/nps-high.png"></span>
                                <span *ngIf='contactList.nps < 5'><img class="pr-1" src="assets/images/icons/nps-low.png"></span>
                                <span *ngIf='contactList.nps === 5'><img class="pr-1" src="assets/images/icons/nps-medium.png"></span>
                            </td>
                            <td class="width-80 icon-descp contactDetails" class="inner-table-p-0 table-bordered">
                                <span class="text-padding">NPS: {{contactList.nps}}/10</span>
                           </td>
                        </tr>-->
                        <tr  *ngIf="contactList.cdw_spend == '' && contactList.online_activity == '' && contactList.email_interaction == ''">
                          <td class="text-center">-</td>
                        </tr>
                    </table>
                  </td>
                <td class="text-center grey-numbers width-9">
                    <span *ngIf="contactList.T12M !=''">${{contactList.T12M}} | {{contactList.cdw_spend_percent}}</span>
                    <span *ngIf="contactList.T12M ==''" class="text-center invoice text-black">-</span>
                </td>
                <td class="width-15">
                    <table class="table-bordered" *ngIf="contactList.ContactLastInvoiceDateSeq != ''">
                        <tr class="inner-table-p-0 table-bordered">
                            <td class="invoice contactDetails inner-table-p-0 table-bordered width-60">
                                Last Invoice Date:
                            </td>
                            <td class="blue-numbers invoiceDate inner-table-p-0 table-bordered">
                                {{contactList.ContactLastInvoiceDateSeq}}
                            </td>
                        </tr>
                        <tr class="inner-table-p-0 table-bordered">
                            <td class="invoice contactDetails inner-table-p-0 table-bordered width-60">Avg. Order Value:</td>
                            <td class="green-numbers invoiceDate inner-table-p-0 table-bordered">${{contactList.average_order_value}}</td>
                        </tr>
                        <tr class="inner-table-p-0 table-bordered">
                            <td class="invoice contactDetails inner-table-p-0 table-bordered width-60">Avg. Order Frequency:</td>
                            <td class="grey-numbers invoiceDays inner-table-p-0 table-bordered">{{contactList.average_order_frequency}}<span>Days</span></td>
                        </tr>                        
                    </table>
                    <p *ngIf="contactList.ContactLastInvoiceDateSeq == ''" class="text-center">-</p>
                </td>
               <td class="text-center actualTitle width-7" >
                    <span *ngIf="contactList.contact_location !=''">{{contactList.contact_location}}</span>
                    <span *ngIf="contactList.contact_location ===''" class="text-center invoice text-black">-</span>
                </td>
                <td class="width-15 text-center">-</td>
                <td class="width-10 text-center">-</td>
                <td class="text-center grey-numbers width-8">
                    <span *ngIf="contactList.contact_last_updated_date !='' && contactList.contact_last_updated_date !='NULL'">{{contactList.contact_last_updated_date}}</span>
                    <span *ngIf="contactList.contact_last_updated_date ==='' || contactList.contact_last_updated_date ==='NULL'" class="text-center invoice text-black">-</span>
                </td>
                <td class="text-center width-9">
                    <span class="d-flex images text-center">
                        <img *ngIf="contactList.ContactPhone != ''" tooltip="{{contactList.ContactPhone}}" placement="left" src="assets/images/icons/telephone.png">
                        <img class="ml-2" *ngIf="contactList.EMailAddress != ''" tooltip="{{contactList.EMailAddress}}" placement="left" src="assets/images/icons/envelope.png">
                        <img class="ml-2" placement="left" src="assets/images/icons/bookmark-big@2x.png">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>




  
   </div>
</jw-modal>



